@* loginForm Template File *@
@import helper._
@(userForm: Form[UserLogin])
@main("login"){
<div class="row">
				<div class="col-md-8">
					@form(routes.Application.login()){	
				<div class="form-group">
					@inputText(userForm("email"), '_label -> "Email")
					@inputPassword(userForm("password"), '_label -> "Password")
					<div class="actions">
						<input type="submit" value="Login" class="btn btn-primary" > 
					</div>
				}	    
				</div>			
		</div>
			<div class="col-md-4">
			</div>
</div>
}