@* loginForm Template File *@
@import helper._
@(userForm: Form[UserLogin])
@main("login"){
<!-- Call Login Navigation -->	
 @navigation()
<div class="row">
<div class="col-md-3">
<div class="panel panel-default">
  <div class="panel-body">
  		
					@form(routes.Application.login()){	
				<div class="form-group">
					@inputText(userForm("email"), '_label -> "Email")
					@inputPassword(userForm("password"), '_label -> "Password")
					<div class="actions">
						<input type="submit" value="Login" class="btn btn-primary" > 
					</div>
				}	    
				</div>			
  </div>
 </div>
</div>
<div class="col-md-9">
	@introductoryContent("Hi")
	@introductoryContent("Hi")
	@introductoryContent("Hi")
	@introductoryContent("Hi")
</div>
</div>

<!-- Public Content on index -->
<div class="row">
<div class="col-md-8">
	
</div>

</div>
</div>
@footerNavigation()
}