	@* Signup Template File *@
@(knolXUserForm: Form[KnolXUser])(implicit flash:play.api.mvc.Flash)
<!-- Importing Form Helper -->
@import helper._
 @main("Home") {
	<!-- Begin page content -->
	<div class="container">
		@flash.get("error").map { message =>
               <button type="button" class="close" data-dismiss="close">×</button>
               <strong>Error User Exists!</strong>@message 
           </div>
       }
		<div class="page-header">
			<h1>Sign Up</h1>
		</div>
		<div class="row">
				<div class="col-md-8">
					@form(routes.Application.register(), 'id-> "signUpForm"){	
				<div class="form-group">
					@inputText(knolXUserForm("name"), '_label -> "Name")
					@inputText(knolXUserForm("company"), '_label -> "Company")
					@inputText(knolXUserForm("email"), '_label -> "Email")
					@inputPassword(knolXUserForm("password"), '_label -> "Password")
					@inputText(knolXUserForm("phone"), '_label -> "Phone")
					@inputText(knolXUserForm("address"), '_label -> "Address")
				<div class="actions">
						<input type="submit" value="Register" class="btn btn-primary" > or 
						<a href="@routes.Application.index" class="btn btn-default">Cancel</a>
				</div>
				}	    
				</div>			
		</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
	<!-- Client Side Validations for email and Password -->
		<script>
			$("#signUpForm").validate({
				rules : {
					email : {
						required : true,
						email : true
					},
					password : {
						required : true
					},
					company : {
						required : true
					},
					name : {
						required : true
					},
					phone :{
						required : true,
						number: true
					} 
				}
			})
		</script>	
	@footerNavigation()
}

 