	@* Signup Template File *@
@(knolXUserForm: Form[KnolXUser])(implicit flash:play.api.mvc.Flash, req: RequestHeader)
<!-- Importing Form Helper -->
@import helper._
 @main("Sign Up") {
	<!-- Begin page content -->
		@flash.get("error").map { message =>
    		<div class = "alert alert-dismissable alter-danger" ><p style="color:white">User Exists!<p> </div>
    		<div class="alert alert-warning alert-dismissible" role="alert" style="background-color:grey">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
				  <strong style="background-color:grey"></strong> User Exist.
			</div>
       }
	@navigation()
		<div class="row">
				<div class="col-md-6">
					@form(routes.Application.register(), 'id-> "signUpForm"){	
						<div class="form-group">
							@inputText(knolXUserForm("name"), '_label -> "Name")
							@inputText(knolXUserForm("company"), '_label -> "Company")
							@inputText(knolXUserForm("email"), '_label -> "Email", '_id ->"email", 'onBlur-> "isEmailExist()") 
							@inputPassword(knolXUserForm("password"), '_label -> "Password")
							@inputText(knolXUserForm("phone"), '_label -> "Phone")
							@inputText(knolXUserForm("address"), '_label -> "Address")
						<div class="actions">
								<input type="submit" value="Register" class="btn btn-primary" > or 
								<a href="@routes.Application.index" class="btn btn-default">Cancel</a>
						</div>
						}	    
						</div>			
				</div>
			<div class="col-md-6">
			<h1>Sign Up</h1>
			</div>
		</div>
	<!-- Client Side Validations for email and Password -->
		<script>
			$("#signUpForm").validate({
				rules : {
					email : {
						required : true,
						email : true
					},
					password : {
						required : true
					},
					company : {
						required : true
					},
					name : {
						required : true
					},
					phone : {
						required : true,
						number : true
					}
				}
			})
		</script>
		<script>
			$("#signUpForm").validate({
				rules : {
					email : {
						required : true,
						email : true,
						remote : "@routes.Application.isEmailExist(("reseamanish@gmail.com"))"
					}
				}
			});
		</script>
			@footerNavigation()
}
