@* Update Template File *@
@(knolXUserForm: Form[KnolXUser])
<!-- Importing Form Helper -->
@import helper._
 @main("Home") {
	<!-- Add User Navigation -->
	@userNavigation(knolXUserForm.get.email)
	<div class="container">
		<div class="page-header">
			<h3>Update Profile</h3>
		</div>
		<div class="row">
				<div class="col-md-3">
					@form(routes.Application.update()){	
				<div class="form-group">
					@inputText(knolXUserForm("name"), '_label -> "Name")
					@inputText(knolXUserForm("company"), '_label -> "Company")
					@inputText(knolXUserForm("email"), '_label -> "Email")
					@inputPassword(knolXUserForm("password"), '_label -> "Password")
					@inputText(knolXUserForm("phone"), '_label -> "Phone")
					@inputText(knolXUserForm("address"), '_label -> "Address")
				<div class="actions">
						<input type="submit" value="Update"class="btn btn-primary" > or 
						<a href="@routes.Application.cancelUpdate(knolXUserForm.get.email)" class="btn btn-default">Cancel</a>
				</div>
				}	    
				</div>			
				</div>
			<div class="col-md-9">
				<!-- Begin page content -->
			@userLoggedInContent("Randon Content on Update Side Bar")
			</div>
		</div>
	</div>
	@footerNavigation()
}
 